.doc{
    height: 40rem;
}

.space{
    margin-bottom: 5rem;
}

.logo{
    height: auto;
}

.text{
    margin-top: 1rem;
}

.in{

    height: 10rem;
}
.image{
    margin-top: 28rem;
    padding-left: 55rem;
}
